<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gredjastorage;AccountKey=rlRaoD086zalQ8cCpcggO97NOOSO4HUSz/1BRew3sddE1LOxHIQKE3QdBjGzcEJSL/R4wOV/5kDCuxBWFXQxdw==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>