<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gredjastorage;AccountKey=pzA6quapsMnNfsM95k6wP64tS4O3nrXs8Il6CVs3fdQQi9A/IgRwwD0f+QOAda/MXeli+mVt3zy8imNpbmtosA==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>